
<nbm>
    <moduleType>normal</moduleType>
    <codeNameBase>it.tidalwave.imageio.raw/1</codeNameBase>
    <!-- name>Libraries - jrawio</name -->
    <cluster>libraries</cluster>
    <manifest>src/main/nbm/manifest.mf</manifest>
    <homepageUrl>http://jrawio.rawdarkroom.org</homepageUrl>
   <!-- distributionUrl important when creating an autoupdate center. The expected download URL for the module is:
            ${distributionUrl}/${finalName}.nbm
     -->
   <!-- distributionUrl>...</distributionUrl -->
    <author>Fabrizio Giudici</author>
    <licenseName>Apache License, Version 2.0</licenseName>
    <licenseFile>../../LICENSE.txt</licenseFile>
    <dependencies>
        <dependency>
            <id>com.google.code.findbugs:jsr305</id>
            <type>impl</type>
        </dependency>
    </dependencies>
</nbm>

